<div class="topbar" >
    <a href="{% url 'register' %}"><ul class="t1">Hello,Register</ul></a>
    <a href="{% url 'login' %}"><ul class="t1">Signin</ul></a>
    <a href=""><ul class="t1">Daily Deals</ul></a>
    <a href=""><ul class="t1">Brand Outlet</ul></a>
    <a href=""><ul class="t1">Help & Contact</ul></a>
    <a href=""><ul class="t1">sell</ul></a>
</div><hr>

<div class="topbar2">
    <a href=" {% url 'home' %}"><h1 class="tp1">TOPSHOP</h1></a>
    <input type="text" name="" id="tp2" placeholder="search for anything" class="">
    <input type="button" value="search" class="tp6">
    
</div><hr>