{% extends 'base.html' %}


{% block content  %}
<p>
    <div>
        <h1>login</h1>
    </div>
</p>
<div class="signinform">
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="siginform">
            <div class="username"  >
                <label for="">email</label>
                <input type="email" placeholder="enter email" name="email">
            </div>
            <div class="username">
                <label for="">password</label>
                <input type="password" name="password">
            </div>
            <div class="username">
                <a href=""><input type="submit" value="signup"></a>
            </div> 
        </div>                                                                    
    </form>    
</div>




{% endblock  %}